@font-face {
    font-family: 'BeanPole';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/ssf/BeanPoleLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/ssf/BeanPoleLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/ssf/BeanPoleLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/ssf/BeanPoleLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/ssf/BeanPoleLight.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'BeanPole';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/ssf/BeanPoleMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/ssf/BeanPoleMedium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/ssf/BeanPoleMedium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/ssf/BeanPoleMedium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/ssf/BeanPoleMedium.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'BeanPole';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/ssf/BeanPoleBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/ssf/BeanPoleBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/ssf/BeanPoleBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/ssf/BeanPoleBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/ssf/BeanPoleBold.ttf') format("truetype");
    font-display: swap;
}